* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zo-darker: #000000;
    --zo-dark: #232322;
    --zoo-light: #4a4a4a;
    --zoo-lighter: #fefffe;
    --zo-succes: #4ac401;
    --zo-danger: #d51814;
}

body {
    background-color: var(--zo-darker);
}

.wrapper{
    height: 100vh;
}

.col-7 {
    width: calc(100% / 7);
}
/*region header*/

header {
    width: 100vw;
    height: 30px;     
}

.button-head {
    display: flex;
    justify-content: flex-end;
}

button {
    color: var(--zoo-lighter);
    padding: 3px;
    font-size: 10px;
    background-color: var(--zoo-light);
    border-width: 0;
    border-radius: 3px;
}

/*end region header*/

/*region main*/

main {
    height: calc(100vh - 100px);
}

.participants-box{
    width: 80%; 
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}



.partecipant{
    box-sizing: border-box;
}


.photo {
    display:block;
    position: absolute; 
}

.name {
    color: var(--zoo-lighter);
    font-size: 10px;
    background-color: var(--zoo-light);
    padding: 2px;
    width: 60px;
    opacity: 70%;
    position: relative;
    bottom: 0px;
}



/*end region main*/

/*region footer*/

.icon-footer{
    background-color: var(--zo-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--zoo-lighter);
}

.fa-solid {
    font-size: 20px;
    padding: 5px;
}

.word{
    font-size: small;
}

.fa-angle-up{
    font-size: x-small;
}

.fa-arrow-up-right-from-square{
    color: var(--zo-succes);
}

.end-met{
    padding: 25px;
    color: var(--zo-danger);
    background-color: var(--zoo-light);
}

.icon{
    text-align: center;
}